<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <ol>
          <li cdkDrag>
            <button mat-raised-button (click)="openDialog()">Pick one</button>
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!-- ============================================================== -->
<!-- Basic Card Grid-->
<!-- ============================================================== -->
