<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" >
  <!-- User profile image -->
<!--  <div class="profile-img"> <img src="assets/images/users/avatar.png" alt="user"></div>-->
<!--  <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Raúl Zapata <i class="ti-angle-down font-12 m-l-5"></i></a></div>-->

  <div class="form-group">
    <input placeholder="Search..." class="form-control">
  </div>
</div>
<!-- User profile text-->
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
    <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'" >
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span (click)="openDialog(menuitem.name)">{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>
      </mat-list-item>
</mat-nav-list>
