//mat-grid-tile {
//  background: lightblue;
//}

table {
  width: 100%;
  background-color: #929292;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  color: white;
}
