<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row wrap" class="table table-responsive table-bordered table-hover table-striped">
  <!-- column -->
  <div fxFlex.gt-xl="50" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">


    <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Card column -->
      <div fxFlex.gt-sm="100" fxFlex="100" >
        <mat-card style="width: 295%" class="table-responsive">
          <mat-card-content>
            <mat-card-title style="text-align: center!important;">Áreas</mat-card-title>
          </mat-card-content>
          <mat-tab-group>
            <div style="text-align: center!important;">
              <!------------------------------------------------------------------------------------------------------------------------>
              <mat-tab label="Formato bloque"><mat-card-content>
                <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="x100" *ngFor="let aa of hi">
                  <mat-card>
                    <mat-card-content style="background-color: #555555" >
                      <mat-card-title>Área {{aa.name}}</mat-card-title>
                      <div class="row">
                        <div class="piechart">
                          <ul class="list-inline text-center">
                            <li>
                              <h6 class="text-success m-0">
                                <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>N° de Serie:</h6><br>
                              <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Estado Relevador:</h6><br>
                              <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Neteo Energía:</h6>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-card-content></mat-tab>
              <!------------------------------------------------------------------------------------------------------------------------>
              <mat-tab label="Formato Tabla"><mat-card-content>
                <!--                <table mdbTable bordered="true" class="table table-responsive table-bordered table-hover table-striped">-->
                <!--                  <thead>-->
                <!--                  <tr>-->
                <!--                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
                <!--                  </tr>-->
                <!--                  </thead>-->
                <!--                  <tbody>-->
                <!--                  <tr mdbTableCol *ngFor="let el of elements">-->
                <!--                    <th scope="row">{{el.id}}</th>-->
                <!--                    <td>{{el.areas}}</td>-->
                <!--                    <td>{{el.serie}}</td>-->
                <!--                    <td>{{el.estado}}</td>-->
                <!--                    <td>{{el.neteo}}</td>-->

                <!--                  </tr>-->
                <!--                  </tbody>-->
                <!--                  <style>-->
                <!--                    table, th , td {-->
                <!--                      border: 1px solid grey;-->
                <!--                      border-collapse: collapse;-->
                <!--                      padding: 1vmin;-->
                <!--                      color: #000000;-->
                <!--                      width: 74vmax;-->
                <!--                    }-->

                <!--                    table tr:nth-child(odd) {-->
                <!--                      background-color: #f1f1f1;-->
                <!--                    }-->

                <!--                    table tr:nth-child(even) {-->
                <!--                      background-color: #ffffff;-->
                <!--                    }-->
                <!--                  </style>-->
                <!--                </table>-->

                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort class="table table-responsive table-bordered table-hover table-striped">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="area">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Áreas </th>
                      <td mat-cell *matCellDef="let row"> {{row.areas}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="serie">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° de Serie </th>
                      <td mat-cell *matCellDef="let row"> {{row.serie}}</td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de Relevador </th>
                      <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="neteo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Neteo Energía</th>
                      <td mat-cell *matCellDef="let row"> {{row.neteo}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>

                  <mat-paginator style="background-color: #555555; color: #FFFFFF" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </mat-card-content>
              </mat-tab>
              //----------------------------------------------------------------------------------------------------------------------
            </div>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
