<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>

<div class="login-box">
  <img src="assets/images/users/avatar.png" class="avatar" alt="Avatar Image">
  <h1>Login</h1>
  <form>
    <!-- USERNAME INPUT -->
    <label >Username</label>
    <input type="text" placeholder="Enter Username">
    <!-- PASSWORD INPUT -->
    <label >Password</label>
    <input type="password" placeholder="Enter Password">
    <a href="inicio"><input type="submit" value="Log In"></a>
<!--    <a href="#">Lost your Password?</a><br>-->
<!--    <a href="#">Don't have An account?</a>-->
  </form>
</div>
</body>
</html>
