//.example-button-row {
//  display: flex;
//  align-items: center;
//  justify-content: space-around;
//}

table {
  width: 100%;
  background-color: #2d2d2d;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 5%;
  color: #ffffff;
  //text-align: center;
  align: center;
}


