<div class="col-md-12" style="text-align: right !important">
  <button cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="close" color="warn" mat-button (click)="onNoClick()" tabindex="-1" >X</button>
  <h6 style="color: white">Balance de Consumos</h6>
</div>
<div mat-dialog-title  class="flex-container">
  <div class="flex-item">
    <div style="display: block" mat-dialog-actions class="mdi-4">
      <h6 style="color: white">Bimestre Actual</h6>
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)">
      </canvas><hr>
    </div>
    <div style="display: block" mat-dialog-actions>
      <h6 style="color: white">Bimestre Anterior</h6>
      <canvas baseChart
              [data]="doughnutChartData2"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)">
      </canvas><hr>
    </div>

    <div style="display: block" mat-dialog-actions>
      <h6 style="color: white">Total Consumo</h6>
      <canvas baseChart
              [data]="doughnutChartData3"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)">
      </canvas>
    </div>
  </div>
</div>
