<mat-card>
  <mat-card-content>
    <mat-card-title style="text-align: center!important;">Editar Usuarios</mat-card-title>

    <div class="container" style="margin-top:5%;">
  <div class="panel-body">
    <form action="Editar" method="post">



<!--------------------------------------------Usuario------------------------------------------------------------------>
      <div class="col-lg-12" style="margin-top:2%;">
        <label class="control-label">
          <strong class="text-danger">*</strong>
          Usuario:
        </label>
        <input type="text" name="usuario" requered enable class="form-control" [(ngModel)]="usuario" value="{{usuario}}"/>
        <label class="control-label col-sm-12 col-lg-12 col-xl-12" style="background: #d20007" *ngIf="usuarioValidacion == false">
          Ingresa un usuario valido
        </label>
      </div>
<!---------------------------------------------Contraseña-------------------------------------------------------------->
      <div class="col-lg-12" style="margin-top:2%;">
        <label class="control-label">
          <strong class="text-danger">*</strong>
          Contraseña:
        </label>
        <input type="password" name="contrasena" class="form-control" requered [(ngModel)]="contrasenia" />
      </div>
 <!------------------------------------------------Estaus--------------------------------------------------------------->
      <div class="col-lg-12" style="margin-top:2%;">
        <label class="control-label">
          <strong class="text-danger">*</strong>
          Estatus:
        </label>
        <input type="text" name="password" class="form-control" required [(ngModel)]="estatus" />
      </div>
 <!------------------------------------------------Tipo Usuario--------------------------------------------------------->
      <div class="col-lg-12" style="margin-top:2%;">
        <label class="control-label">
          <strong class="text-danger">*</strong>
          Tipo Usuario:
        </label>
        <!--                    <input type="text" name="tipo_usuario" class="form-control" required/>-->
        <select style="height: 45px" name="tipo_usuario" class="form-control" [(ngModel)]="tipo" >
          <option value="{{tipo}}" selected> {{tipoUsu}}</option>
          <option value="1"> Super Usuario </option>
          <option value="2"> Operador </option>
          <option value="3"> Supervisor </option>
          <option value="4"> Solo Lectura </option>
        </select>
      </div>
 <!-------------------------------------------------Boton Guardar------------------------------------------------------>
     <div class="col-lg-12" style="margin-top:2%;">
        <label class="control-label">
          &nbsp;
          <br>
        </label>
        <button class="btn btn-success btn-lg" type="submit" (click)="actualizarUsuario()"><a href="#" style="color: #FFFFFF">Guardar</a></button>
      </div>
 <!-------------------------------------------------Boton Cancelar------------------------------------------------------>
      <div class="col-lg-12" style="margin-top:2%;">
        <label class="control-label">
          &nbsp;
          <br>
        </label>
        <button class="btn btn-danger btn-lg2" type="reset"><a href="admin" style="color: #FFFFFF">Cancelar</a></button>
      </div>
    </form>
  </div><!-- AQUI TERMINA EL PANEL-BODY -->
</div>
  </mat-card-content>
</mat-card>

