table {
  width: 100%;
  background-color: #2d2d2d;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  color: white;
}

agm-map {
  height: 8vmax;
  width: 19.5vmax;
}
